
.button-home{
   background-image:url('../Assets/home-icon.png');
   background-color: black;
   background-position: center;
   background-repeat: no-repeat;
   background-size:auto;
   background-attachment: scroll;
   
   height:10em;
   width:10em;
   border-radius: 40%;
   border:none;
}


.button-log-out{
    background-image:url('../Assets/logout-icon.png');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    background-attachment: scroll;
    
    height:10em;
    width:10em;
    border-radius: 40%;
    border:none;

}
.button-login{
    background-image:url('../Assets/login-icon.png');
   background-color: black;
   background-position: center;
   background-repeat: no-repeat;
   background-size:auto;
   background-attachment: scroll;
   
   height:10em;
   width:10em;
   border-radius: 40%;
   border:none;

}

.button-signup{
    background-image:url('../Assets/signup-icon.png');
   background-color: black;
   background-position: center;
   background-repeat: no-repeat;
   background-size:auto;
   background-attachment: scroll;
   
   height:10em;
   width:10em;
   border-radius: 40%;
   border:none;
}

.button-buy{
    background-image: url('../Assets/buybitcoinimg.png');
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;
    margin-top:3em;
    height:8em;
    width:8em;
    border-radius:50%;
    border:none;
}


.button-buy:hover{
    opacity: 0.5;
    animation:nav-button-animation linear 0.5s infinite;

}

.button-sell{
    background-image: url('../Assets/sellbitcoin.png');
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;

    height:8em;
    width:8em;
    border-radius:50%;
    border:none;
    margin-top:3em;

}



.button-sell:hover{
    opacity: 0.5;
    animation:nav-button-animation linear 0.5s infinite;
}

.button-wallet{
    background-image: url('../Assets/bitcoinWallet.png');
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;

    height:8em;
    width:8em;
    border-radius:50%;
    border:none;
    margin-top: 3em;
}



.button-wallet:hover{
    opacity: 0.5;
    animation:nav-button-animation linear 0.5s infinite;
}

.button-transfer{
    background-image: url('../Assets/transfermoney.png');
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;

    height:8em;
    width:8em;
    border-radius:50%;
    border:none;
    margin-top:3em;
}


.button-transfer:hover{
    opacity: 0.5;
    animation:nav-button-animation linear 0.5s infinite;
}

.button-order{
    background-image: url('../Assets/pastordersimg.png');
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;

    height:8em;
    width:8em;
    border-radius:50%;
    border:none;
    margin-top:3em;
}



.button-order:hover{
    opacity: 0.5;
    animation:nav-button-animation linear 0.5s infinite;
}

.button-dash{
    background-image:url('../Assets/dashboardimg.png');
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    background-attachment: scroll;
    margin-top:3.3em;
    height:8em;
    width:8em;
    border-radius: 50%;
    border:none;
    margin-bottom: 5em;
}


.button-dash:hover{
    opacity: 0.5;
    animation:nav-button-animation linear 0.5s infinite;
}

.button-search{
    background-image: url('../Assets/clientsearchimg.png');
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;

    height:10em;
    width:10em;
    border-radius:40%;
    border:none;
}



.button-cancel-log{
    background-image: url('../Assets/cancelorderlogimg.png');
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;

    height:10em;
    width:10em;
    border-radius:40%;
    border:none;
}



.row-nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;  

   
}

.nav-container{
    margin-bottom: 5%;
    box-shadow: 0px 6px 8px rgba(230, 216, 160, 0.8);
}

.button-home:hover{
    opacity: 0.5;
    animation:nav-button-animation linear 0.5s infinite;

}

.button-login:hover{
    opacity: 0.5;
    animation:nav-button-animation linear 0.5s infinite;
}

.button-signup:hover{
    opacity:0.5;
    animation:nav-button-animation linear 0.5s infinite;
}


@keyframes nav-button-animation {

    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(-15deg);
    }

    50%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(15deg);
    }

    100%{
        transform: rotate(0deg);
    }
    
}

@media screen and (max-width:480px){
    .nav-container{
        bottom:0;
        left:0;
        right:0;
        position:fixed;
    }
}