.form-trader-sell-bitcoin-container{
    
    box-shadow:2px 2px 2px 2px rgba(128,128,128,0.8);
    min-width: 30em;
    max-width:35em;
    max-height: 40em;   
    min-height:35em;
    padding-top:6%;  
    height:70em;
    width:70em;    
    border:2px solid white;   
    box-shadow: 0px 0px 8px rgba(0, 49, 128, 0.8);
    margin-bottom:5%;
    border-radius: 20px;
    margin:auto;
    text-align: center;
    display: flex;
    flex-direction: column;

}





.trader-sell-bitcoin-header{
    margin:auto;
    border-radius: 20px;
    width:70%;
    height:4em;
    background-color: rgba(0, 0, 0,0.9);
    color:white;
    padding-top: 5%;
    box-shadow: 0px 0px 9px rgba(0, 49, 128, 0.8);

}

.trader-email-box{
    margin-left:6em;
}
.form-trader-sell-bitcoin-container h2{
    padding-top:5%;
    text-align:center;
    color:white;
}


.inner-group{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10em;
}
.input-trader-sell-bitcoin-group{
   display: flex;
   flex-direction: column;
    margin:auto;
    justify-content: space-evenly;
    
    border-radius: 20px;
    width:70%;
    height:30em;
    background-color: rgba(0, 0, 0,0.9);
    color:white;
    padding-top: 5%;
    box-shadow: 0px 0px 9px rgba(0, 49, 128, 0.8);
}


.label-sell-bitcoin-login{
    color:white;
}

.trader-sell-bitcoin-submit{
    color:white;
    width:12em;
    height:2em;
    border-radius: 40px;
    background-color: rgb(247,128,47);
    border:none;
    margin:auto;
}

.form-trader-sell-bitcoin-container button:hover{
    animation: button-animation ease-in 0.3s;
    transform: scale(1.9);
}


@keyframes button-animation {

   from{
    transform: scale(1);
   }

   to{
    transform: scale(1.9);
   }
    
}

.errors{
    color:red;
  }


  @media  screen and (max-width:480px) {
      .container{
          border-radius: 30px;
      }
  }